In [21]:


import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [5]:
data = pd.read_csv("Spring_dataset.csv")
data.head(15)

,Customer_ID,Churn,Age,Gender,PlanType,ContractLength,MonthlyCharges,DataUsage,CallDuration,Complaints,Location
0,1,88,57,M,jcb,2/13/2023,5,77,77,Once,Tutem
1,2,56,76,F,maestro,8/28/2023,16,35,79,Often,Colcabamba
2,3,19,18,M,jcb,8/29/2023,57,77,6,Once,Fengle
3,4,88,71,F,americanexpress,6/25/2023,87,51,57,Never,Tirapata
4,5,73,97,F,maestro,11/15/2022,56,55,36,Once,Battaramulla South
5,6,6,81,M,jcb,6/18/2023,25,90,66,Weekly,La Virgen
6,7,95,56,F,diners-club-enroute,9/23/2023,78,33,12,Seldom,Altan-Ovoo
7,8,26,84,M,jcb,5/1/2023,68,58,96,Yearly,Kangding
8,9,31,52,F,bankcard,4/7/2023,78,16,15,Weekly,Charenton-le-Pont
9,10,40,28,F,jcb,8/8/2023,11,30,96,Once,Mungui
10,11,96,13,F,visa-electron,8/23/2023,23,77,21,Seldom,Bugarama
11,12,30,68,M,switch,8/27/2023,58,66,75,Seldom,Roanoke
12,13,7,72,M,bankcard,3/4/2023,20,54,18,Never,Dzwola
13,14,83,31,F,jcb,2/13/2023,3,91,68,Weekly,Molo
14,15,16,76,F,americanexpress,5/21/2023,96,93,13,Often,Shymkent

In [15]:
# Separate target variable (Churn) and features
X = data.drop(columns=['Customer_ID', 'Churn'])
y = data['Churn']

In [26]:
# Column transformer for preprocessing
# Separate numerical and categorical columns
numeric_cols = ['Age', 'MonthlyCharges', 'DataUsage', 'CallDuration', 'Complaints']
categorical_cols = ['Gender', 'Location', 'PlanType', 'ContractLength']

In [16]:
# Preprocessing for numerical data: impute missing values and scale
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

In [17]:
# Preprocessing for categorical data: one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [24]:
# ... Previous code for defining X, y, numeric_cols, categorical_cols ...

# Column transformer for preprocessing
# Separate numerical and categorical columns
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Define the pipeline (preprocessing + model)
model = RandomForestClassifier()

pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('model', model)])
# Define the pipeline (preprocessing + model)
# You would select a specific model for your problem (e.g., Logistic Regression, Decision Tree, etc.)
from sklearn.ensemble import RandomForestClassifier  # Example model
model = RandomForestClassifier()

pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('model', model)])

In [23]:
# Split the data into training and test sets (you should use a larger dataset in practice)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)